/* Contact Page Specific Styles */

:root {
    --primary: #E9FF70;
    --primary-light: rgba(233, 255, 112, 0.1);
    --dark: #212529;
    --light: #f8f9fa;
}

body {
    padding-top: 80px;
    background-color: #78a127;
}

/* Contact Hero section styling */
.contact-hero {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/facls.jpg');
    background-size: cover;
    background-position: center;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    margin-bottom: 50px;
}